div#slide
  each elem in prodotto
    .row
      .col-md-6.col-sm-12.col-xs-12.cont-img

         img.myim(src=elem.data.foto_ingrediente.url)
      .col-md-6.col-sm-12.col-xs-12.box.d-flex.flex-column.justify-content-center
        h2.descrizionepremium.text-left
         != RichText.asText(elem.data.nome_incrediente)
        p.mb-5.text-grey
         != RichText.asText(elem.data.descrizione_ingrediente)

