extends ./layout.pug

block variables
  - var nav_class = 'dark'
  - var activeDoc = categoria
  - var tablet = categoria.data.backgroundImage.Tablet.url
  - var desktop = categoria.data.backgroundImage.url
  - var mobile = categoria.data.backgroundImage.Mobile.url
block body
  style(type="text/css").
       .homepage-banner{
            background-image:url(#{desktop});


            background-repeat:no-repeat;
            background-size:cover;
         }
       @media only screen and (max-width:970px){
          .homepage-banner{
            background-image:url(#{tablet});
            height:200px;


         }
           @media only screen and (max-width:400px){
          .homepage-banner{
            background-image:url(#{mobile});
            height:200px;


         }
         .banne{
           color:red;
           font-size:40px;
         }
       }

  section.homepage-banner
    h1.motto
      != RichText.asText(categoria.data.title)

  -// Content Section
  div.container#mieiProdotti
    div.row
      .col-md-12
        each items,index in prodottoFiglio
          div.d-flex.flex-row
              h2.titolo-prodotto
                != RichText.asText(items.data.title)
              if items.data.ingredienteAbdi
                each ele in items.data.ingredienteAbdi
                  if ele.data.nome_incrediente
                    button( data-toggle="modal" data-target="#item-"+index, class='my-btn', title="ingrediente premium")
                       i.fas.fa-info-circle.text-blue-light

                    .modal.fade(tabindex='-1', role='dialog' id="item-"+index)
                        .modal-dialog.modal-dialog-centered.modal-lg(role='document')
                            .modal-content
                                .modal-header.bluastro.text-white(style='border-radius:0')

                                    button.close(type='button', data-dismiss='modal', aria-label='Close')
                                      span.text-white(aria-hidden='true') &times;
                                .modal-body.bluastro.text-white
                                    .container-fluid



                                      .row
                                        .col-md-6
                                          img.img-fluid(src=ele.data.foto_ingrediente.url)
                                        .col-md-6
                                          h3.modal-title.text-center.text-uppercase.text-white
                                              !=RichText.asText(ele.data.nome_incrediente)
                                              hr(style='background:#fff')
                                          p
                                            !=RichText.asText(ele.data.descrizione_ingrediente)



          p.dettagli
            !=RichText.asText(items.data.descrizione_prodotto)

          p.dettagli
            if(items.data.dosaggio.length)

             !=RichText.asText(items.data.dosaggio)
          if (items.data.codice.length && items.data.peso.length && items.data.numero_confezioni.length)
            div.table-responsive
              table.table.table-bordered.mytable
                  thead
                   tr
                    th
                    th
                    th TIPO IMBALLAGGIO
                    th NR CONFEZIONI
                    th  Peso Unit.
                  tbody
                    tr
                      td
                       != RichText.asText(items.data.codice)
                      td
                       != RichText.asText(items.data.title)
                      td
                       != RichText.asText(items.data.imballaggio)
                      td
                       != RichText.asText(items.data.numero_confezioni)
                      td
                       != RichText.asText(items.data.peso)




