extends ./layout.pug

block variables
  - var nav_class = 'dark'
  - var activeDoc = categoria
  - var tablet = categoria.data.backgroundImage.Tablet.url
  - var desktop = categoria.data.backgroundImage.url
  - var mobile = categoria.data.backgroundImage.Mobile.url
block body
  style(type="text/css").
       .homepage-banner{
            background-image:url(#{desktop});


            background-repeat:no-repeat;
            background-size:cover;
         }
       @media only screen and (max-width:970px){
          .homepage-banner{
            background-image:url(#{tablet});
            height:200px;


         }
           @media only screen and (max-width:400px){
          .homepage-banner{
            background-image:url(#{mobile});
            height:200px;


         }
         .banne{
           color:red;
           font-size:40px;
         }
       }

  section.homepage-banner
    h1.motto
      != RichText.asText(categoria.data.title)

  -// Content Section
  div.container
    div.row
      .col-md-12
        each items in prodottoFiglio
          h2.titolo-prodotto
            != RichText.asText(items.data.title)
          p.dettagli
            !=RichText.asText(items.data.descrizione_prodotto)
          p.dettagli
            if(items.data.dosaggio.length)

             !=RichText.asText(items.data.dosaggio)
          if (items.data.codice.length && items.data.peso.length && items.data.numero_confezioni.length)
            div.table-responsive
              table.table.table-bordered.mytable
                  thead
                   tr
                    th
                    th
                    th TIPO IMBALLAGGIO
                    th NR CONFEZIONI
                    th  Peso Unit.
                  tbody
                    tr
                      td
                       != RichText.asText(items.data.codice)
                      td
                       != RichText.asText(items.data.title)
                      td
                       != RichText.asText(items.data.imballaggio)
                      td
                       != RichText.asText(items.data.numero_confezioni)
                      td
                       != RichText.asText(items.data.peso)




