block variables

doctype html(lang='it')

head
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
  link(rel='shortcut icon', type='image/png', href='/images/favicon.png')
  link(rel="alternate", href="http://ladolcevia.it", hreflang="x-default")
  link(rel="alternate", href="http://ladolcevia.it/it-it", hreflang="it-it")
  link(rel="alternate", href="http://ladolcevia.it/de-de", hreflang="de-de")
  link(rel="alternate", href="http://ladolcevia.it/en-gb", hreflang="en-gb")
  title #{title}
  if I18N.current == 'it-it'
    meta(name='description', content='LaDolcevia gelateria ti offre una vasta gamma di prodotti e ingredienti per gelati, entra e scopri il gelato di qualità di Parma')
  link(rel="stylesheet", href="/stylesheets/reset.css")
  link(rel='stylesheet', href='/stylesheets/common.css')
  link(rel="stylesheet", href="/stylesheets/style.css")
  link(type='text/css', rel='stylesheet', href='/javascript/lightSlider/css/lightslider.css')

  link(href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css", rel="stylesheet", integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO", crossorigin="anonymous")
  link(href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet")
  link(href="https://fonts.googleapis.com/icon?family=Material+Icons" rel='stylesheet')
  link(rel='stylesheet', href='https://use.fontawesome.com/releases/v5.0.6/css/all.css')


  // Required for Previews and Experiments
  script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js')

  script
    = ctx?"window.prismic = { endpoint: '" + ctx.endpoint + "' };":""
  script(type="text/javascript").
    window.PrismicProfiles = !{JSON.stringify(PrismicProfiles)}
  script(src="//static.cdn.prismic.io/prismic.min.js")
  script(src="/javascript/jquery.buttonLoader.min.js'") 
  script(src='/javascript/lightSlider/js/lightslider.js')
  script(src='/javascript/cookies.js')
  script(src='/javascript/jeoquery.js')
  script(src='https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.18.0/jquery.validate.min.js')
  script(src='/javascript/main.js')
  script(src='https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js')
  script(src='https://cdn.rawgit.com/nnattawat/flip/master/dist/jquery.flip.min.js')
  link(rel='stylesheet', type='text/css', href='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css')
  link(rel="stylesheet", href="stylesheet/buttonLoader.css")
  script(src='//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js')
  script.
    window.addEventListener("load", function(){
    window.cookieconsent.initialise({
    "palette": {
    "popup": {
    "background": "#1d74bb"
    },
    "button": {
    "background": "#fff"
    }
    },
    "position": "top",
    "content": {
    "message": "Questo sito Web utilizza i cookie per assicurarti di ottenere la migliore esperienza sul nostro sito web.",
    "dismiss": "Prosegui",
    "link": "Leggi",
    "href":"https://cookiepolicygenerator.com/live.php?token=thQUh0lemw5QFkgLgXPWpoKT2oFpPxtr"
    }
    })});


  // Global site tag (gtag.js) - Google Analytics
  script(async='', src='https://www.googletagmanager.com/gtag/js?id=UA-136518508-1')
  script.
    window.dataLayer = window.dataLayer || [];
    function gtag(){dataLayer.push(arguments);}
    gtag('js', new Date());
    gtag('config', 'UA-136518508-1');
body( style='background: #faf9f7;font-family:FontMenu;',data-wio-id=activeDoc.id)

include ./layout/header.pug

block body

include ./layout/footer.pug
