extends ./layout.pug

block variables
  - var nav_class = 'dark'
  - var activeDoc = servizi
  - var tablet = servizi.data.banner.tablet.url
  - var desktop = servizi.data.banner.url
  - var mobile = servizi.data.banner.mobile.url
block body
  style(type="text/css").
       .homepage-banner{
            background-image:url(#{desktop});

            height:600px;
            background-repeat:no-repeat;
            background-size:cover;
         }
       @media only screen and (max-width:970px){
          .homepage-banner{
            background-image:url(#{tablet});
            height:200px;


         }
       }
           @media only screen and (max-width:400px){
          .homepage-banner{
            background-image:url(#{mobile});
            height:400px;


         }
         .banne{
           color:red;
           font-size:40px;
         }
       }
  section.homepage-banner
    h1.motto.titolone
      != RichText.asText(servizi.data.title)

  .container
    h2.float-left.numerotitolo
      != RichText.asText(servizi.data.number1)
    p.titolo-float
        != RichText.asText(servizi.data.titolo_numero1)
    div(style='clear:both')

    div.text-sub
        != RichText.asText(servizi.data.subtitle1)
        p.pt-3.description
          != RichText.asText(servizi.data.descrizione1)

  .container.mt-5
    h2.float-left.numerotitolo
      != RichText.asText(servizi.data.number2)
    p.secondo
        != RichText.asText(servizi.data.titolo2)
    div(style='clear:both')

    div.text-sub

       p.pt-3.description
          != RichText.asText(servizi.data.descrizione2)
  .container.pl-5.mt-5
     #accordion.accordion.pl-4
      .card.mb-0
        .card-header.collapsed(data-toggle='collapse', href='#collapseOne')
          a.card-title
            != RichText.asText(servizi.data.consulenza)
        #collapseOne.card-body.collapse(data-parent='#accordion')
          p
             != RichText.asText(servizi.data.testotitolo1)
        .card-header.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseTwo')
          a.card-title
              != RichText.asText(servizi.data.titoloconsolidamento)
        #collapseTwo.card-body.collapse(data-parent='#accordion')
          p
             != RichText.asText(servizi.data.testo_consolidamento)
        .card-header.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapseThree')
          a.card-title
              != RichText.asText(servizi.data.titolo_recupero_attivita)
        #collapseThree.collapse(data-parent='#accordion')
          .card-body
              != RichText.asText(servizi.data.testo_consolidamento)
        .card-header.collapsed(data-toggle='collapse', href='#collapseFour')
          a.card-title
            != RichText.asText(servizi.data.titolo_sviluppo_prodotti)
        #collapseFour.card-body.collapse(data-parent='#accordion')
          p
             != RichText.asText(servizi.data.testo_sviluppo_prodotti)

  .container.mt-5
    h2.float-left.numerotitolo
      != RichText.asText(servizi.data.number3)
    p.secondo
        != RichText.asText(servizi.data.titolo3)
    div(style='clear:both')

    div.text-sub

       p.pt-3.description
          != RichText.asText(servizi.data.descrizione3)
    #accordion1.accordion.pl-4
        .card.mb-0
          .card-header.collapsed(data-toggle='collapse', href='#collapse-3-one')
            a.card-title
              != RichText.asText(servizi.data.titolo_avviare_distribuzione)
          #collapse-3-one.card-body.collapse(data-parent='#accordion')
            p
              != RichText.asText(servizi.data.descrizione_distribuzione)
          .card-header.collapsed(data-toggle='collapse', data-parent='#accordion', href='#collapse-3-two')
            a.card-title
                != RichText.asText(servizi.data.titolo_consolidamento_attivita)
          #collapse-3-two.card-body.collapse(data-parent='#accordion')
            p.last
              != RichText.asText(servizi.data.descrizione_consolidamento_3)

