* {
  -webkit-font-smoothing: antialiased;
}

::selection {
  background: #FFF7C7;
  /* WebKit/Blink Browsers */
}

::-moz-selection {
  background: #FFF7C7;
  /* Gecko Browsers */
}

@font-face {
  font-family: 'YourFontName';
  /*a name to be used later*/
  src: url('fonts/Alperton-Regular.ttf') format('truetype');
  /*URL to font*/
}

@font-face {
  font-family: 'FontMenu';
  /*a name to be used later*/
  src: url('fonts/WorkSans-Regular.ttf') format('truetype');
  /*URL to font*/
}

@font-face {
  font-family: 'FontTesti';
  /*a name to be used later*/
  src: url('fonts/OpenSans-Regular.ttf') format('truetype');
  /*URL to font*/
}

@font-face {
  font-family: 'FontTestiExtraBold';
  /*a name to be used later*/
  src: url('fonts/OpenSans-ExtraBold.ttf') format('truetype');
  /*URL to font*/
}


/*
 * Globals
 */
body {
  color: #faf9f7;
  font-family: 'FontTesti';
  margin: 0;
  padding: 0;
}


:root {
  --main-color-blue-dark: #1b60ab;
  --main-color-blue-light: #1d74bb;
  --main-colore-test: #83807b;

}

.descrizionepremium+p {

  padding-top: 10px;
  margin-top: 10px;
  font-family: 'FontTesti';
  font-size: 1.4rem;
}

.motto {
  font-family: 'YourFontName';
  color: var(--main-color-blue-light);
  font-size: 6em;
  text-align: center;
}

.motto-storia {
  font-family: 'YourFontName';
  color: #003b7f;
  font-size: 6em;
  line-height: 60px;
  text-align: left;
  margin-left: 15px;
  width: 500px;

}

.titolo-storia1 {
  font-family: 'YourFontName';
  text-align: left;
  font-size: 4.5em;

}

.storia {
  margin-top: 30px;
  padding: 10px;
  font-size: 1.2em;
  color: var(--main-colore-test);
  text-align: justify;

}

.navbar-nav {
  font-family: 'FontMenu';
}

.titolo-storia {
  color: #fff;
  font-family: 'YourFontName';
  font-size: 5.3em;

}

.box-storia {
  background: #43b2e7;

}

.paragrafoStoria p {
  color: #fff;
  font-size: 1.5em;
  font-family: 'FontTesti';

}

.para {
  margin-right: 40px;
  padding: 10px;
}

.float-right img {
  width: 95%;
  float: right;
  margin-right: 8px;
}

.float-right {
  width: 56%;
}

a {
  color: #72767B;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35;
  line-height: 28px;
  text-decoration: none;
}

p a {
  text-decoration: underline;
}



.banne {
  width: 100%;
  height: 60px;
  background: #f0f0f0;
}



h1 {

  font-size: 42px;
  font-weight: normal;
  color: #484D52;
  line-height: 52px;
  letter-spacing: 1.14;
  margin-bottom: 1rem;
}

h2,
h2 a {
  margin-bottom: 1rem;
  color: #484d52;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 0.85;
  line-height: 42px;
}

h3,
h3 a {
  margin-bottom: 1rem;
  Color: #484d52;
  font-size: 20px;
  font-weight: 400;
  letter-spacing: 0.52;
  line-height: 34px;
}

p {
  margin-bottom: 2rem;
}

pre,
ul {
  margin-bottom: 20px;
}

strong {
  font-weight: bold;
}

em {
  font-style: italic;
}

img {
  max-width: 100%;
}
