footer.footer
  div.d-flex.flex-column.justify-content-center.align-content-center.align-items-center.mb-3
    img.logo(src=menu.data.logo.url)
  .container-fluid.bluastro.text-center.footer-text
    span.text-white &copy;LaDolceVia
     script.
        document.write("&nbsp;"+new Date().getFullYear()+'- All Right reserved | note legali e privacy - <a href="https://cookiepolicygenerator.com/live.php?token=thQUh0lemw5QFkgLgXPWpoKT2oFpPxtr" class="text-white">Cookie policy</a>')


