
.logo-container
  include ./Logoheader
  include ./language-selector
header
  - var homeUrl = `/${I18N.current}`;




  nav#navigation.navbar.navbar-dark
    .toggle
      i.fas.fa-bars.menu
    ul#listamenu.navbar-nav.text-center
      if menu
          each linkItem in menu.data.menuLinks

            li
              a(href=Link.url(linkItem.link, ctx.linkResolver) class=(linkItem.label.toLowerCase()===title.toLowerCase())?'linkattivo' : ' ')
                != linkItem.label
